# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.artifacts
.env
.venv
env/
venv/
ml-ops/
ENV/
env.bak/
venv.bak/
.ml-ops/      # your conda env if created with -p ./ml-ops

# Conda environment
*.conda
*.yml

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/
coverage.xml

# Logs
*.log

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Build / Distribution
build/
dist/
*.egg-info/
.eggs/
